In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("s8a-dataframes-api").getOrCreate()

# Lectura de CSV con el ; como separador de columnas y con encabezado
df = spark.read.option("delimiter",";").option("header", "true").csv("pdi_sales_small.csv")

df.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Revenue: string (nullable = true)
 |-- Country: string (nullable = true)

In [11]:
df.select("ProductID","Revenue").show(3)

+---------+-------+
|ProductID|Revenue|
+---------+-------+
|      725|  115.5|
|      787|  314.9|
|      788|  314.9|
+---------+-------+
only showing top 3 rows

In [12]:
df.select(df.ProductID,(df.Revenue+10).alias("VentasMas10")).show(3)

+---------+-----------+
|ProductID|VentasMas10|
+---------+-----------+
|      725|      125.5|
|      787|      324.9|
|      788|      324.9|
+---------+-----------+
only showing top 3 rows

In [22]:
df.sort("Revenue", descending=False).show(5)

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|     2050|4/25/2000|7230           |    2| 1002.6|Mexico |
|      964|5/31/2002|10926          |    3| 1002.6|Mexico |
|      475|4/23/2002|V7N            |    1| 1007.2|Canada |
|      475|7/23/2002|75392 CEDEX 08 |    1| 1007.2|France |
|      475|7/30/2002|40591          |    1| 1007.2|Germany|
+---------+---------+---------------+-----+-------+-------+
only showing top 5 rows

In [25]:
df.select("ProductID","Revenue").sort("Revenue").show(5)

+---------+-------+
|ProductID|Revenue|
+---------+-------+
|     2050| 1002.6|
|      964| 1002.6|
|      475| 1007.2|
|      475| 1007.2|
|      475| 1007.2|
+---------+-------+
only showing top 5 rows

In [17]:
df.sort(df.Revenue.desc()).show(5)

+---------+----------+---------------+-----+-------+-------+
|ProductID|      Date|            Zip|Units|Revenue|Country|
+---------+----------+---------------+-----+-------+-------+
|      819| 7/26/2002|75063 CEDEX 02 |    1|  997.5|France |
|      819| 7/31/2002|06099 CEDEX 1  |    1|  997.5|France |
|      819| 8/29/2002|53804          |    1|  997.5|Germany|
|      819| 7/29/2002|75355 SP 07    |    1|  997.5|France |
|      819|10/15/2002|7100           |    1|  997.5|Mexico |
+---------+----------+---------------+-----+-------+-------+
only showing top 5 rows

In [24]:
df.sort(["Revenue","Units"], ascending=[0,1]).show(5)

+---------+----------+---------------+-----+-------+-------+
|ProductID|      Date|            Zip|Units|Revenue|Country|
+---------+----------+---------------+-----+-------+-------+
|      819| 7/26/2002|75063 CEDEX 02 |    1|  997.5|France |
|      819| 7/31/2002|06099 CEDEX 1  |    1|  997.5|France |
|      819| 8/29/2002|53804          |    1|  997.5|Germany|
|      819| 7/29/2002|75355 SP 07    |    1|  997.5|France |
|      819|10/15/2002|7100           |    1|  997.5|Mexico |
+---------+----------+---------------+-----+-------+-------+
only showing top 5 rows