In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("s8a-dataframes-sql").getOrCreate()

# Lectura de CSV con el ; como separador de columnas y con encabezado
df = spark.read.option("sep",";").option("header", "true").option("inferSchema", "true").csv("pdi_sales_small.csv")
    
df.printSchema()

root
 |-- ProductID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- Units: integer (nullable = true)
 |-- Revenue: double (nullable = true)
 |-- Country: string (nullable = true)

In [30]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/home/jovyan/work/spark-warehouse')]

In [31]:
spark.catalog.currentDatabase()

'default'

In [34]:
df.createOrReplaceTempView("ventas")

In [35]:
spark.catalog.listTables()

[Table(name='ventas', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [33]:
spark.catalog.listColumns("ventas", dbName="default").show()

AnalysisException: Table 'ventas' does not exist in database 'default'.

In [18]:
ventasCanada = spark.sql("select * from ventas where trim(Country)='Canada'")
ventasCanada.show(3)

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|      725|1/15/1999|H1B            |    1|  115.4|Canada |
|     2235|1/15/1999|H1B            |    2|  131.1|Canada |
|      713|1/15/1999|H1B            |    1|  160.1|Canada |
+---------+---------+---------------+-----+-------+-------+
only showing top 3 rows

In [21]:
df.createOrReplaceGlobalTempView("ventasg")

In [22]:
ventasCanadaG = spark.sql("select * from global_temp.ventasg where trim(Country)='Canada'")
ventasCanadaG.show(3)

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|      725|1/15/1999|H1B            |    1|  115.4|Canada |
|     2235|1/15/1999|H1B            |    2|  131.1|Canada |
|      713|1/15/1999|H1B            |    1|  160.1|Canada |
+---------+---------+---------------+-----+-------+-------+
only showing top 3 rows

In [24]:
spark.newSession().sql("select count(*) from global_temp.ventasg where trim(Country)='Canada'").show()

+--------+
|count(1)|
+--------+
|   30060|
+--------+